@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
span {
  color : rgba(249, 115, 22, var(--tw-text-opacity));
}
/* Portfolio Styles */

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.social-icons {
  height: auto;
  position: fixed;
  top: 50vh;
  right: 30px;
  transform: translateY(-50%);
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.toggle-mode {
  height: auto;
  position: fixed;
  top: 30px;
  right: 32px;
}

/* dark background color that displays on content under the svg pattern */
.dark .paint__wrapper {
  background-color: #1e293c;
}

/* the dark svg pattern */
.dark .paint__wrapper-pattern {
  background-image: url("../assets/brush_strokes_dark.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* light background color that displays on content under the svg pattern */
.light .paint__wrapper {
  background-color: #f3f4f6;
}

/* the light svg pattern */
.light .paint__wrapper-pattern {
  background-image: url("../assets/brush_strokes_light.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.project-links {
display:flex;
}

.select-none {
  width:200px;
  height:325px;
  margin: auto;
  border-radius: 15px;
  padding-bottom:10px;
}

.bg-white {
  color:black;
}

.tv {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.logo {
  width: 125px;
}
.highlight-on-hover{
  transition: transform 0.2s;
  position: relative;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.highlight-on-hover:hover {
  box-shadow: 0 15px 55px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(-7px);
  text-decoration: none;
  transition: transform 0.5s;
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 0.5px solid grey;
  padding: 2%;
  background-color: #e2e7f7;
}

.title {
  margin:auto;
  color : rgba(249, 115, 22, var(--tw-text-opacity));
  font-weight: 600; 
}

.p20 {
  padding-top:20px;
}

.ml-15 {
  margin-left: 15px;
}
